.about {
  .wrapper();
  padding-bottom: 30px;
  //padding-top: 8px;
}

.about__title {
  font-size: 25px;
  line-height: 30px;
  margin-top: 28px;
  margin-bottom: 0;
}

.about__list {
  .list-style-reset();
  display: flex;
  flex-direction: column;
  margin-top: 2px;
  font-size: 17px;
  line-height: 20px;
}

.about__item {
  width: 100%;
  padding-top: 83px;
  //padding-right: 50px;
  box-sizing: border-box;
  font-size: 17px;
  font-weight: bold;
  //width: 215px;
  background-repeat: no-repeat;
  background-position: 8px 30px;
}

.about__item--flower {
  background-image: url("../img/icon-feature-flower.svg");
}

.about__item--money {
  background-image: url("../img/icon-feature-money.svg");
  background-position: 0 30px;
}

.about__item--heart {
  background-image: url("../img/icon-feature-heart.svg");
}

.about__item--ball {
  background-image: url("../img/icon-feature-ball.svg");
}

.about__item--rocket {
  background-image: url("../img/icon-feature-rocket.svg");
  background-position: 0 30px;
}

.about__item--flag {
  background-image: url("../img/icon-feature-flag.svg");
}

.about__item--gift {
  background-image: url("../img/icon-feature-gift.svg");
  background-position: 0 30px;
}

@media (min-width: @tablet-width) {
  .about {
    padding-bottom: 38px;
  }

  .about__title {
    font-size: 43px;
    line-height: 50px;
    margin-top: 49px;
  }

  .about__list {
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 20px;
  }

  .about__item {
    width: 50%;
    margin-bottom: 28px;
    font-size: 20px;
    line-height: 22px;
  }

  /* чтоб были в нужной последовательности */
  .about__item--flower {
    order: -5;
  }

  .about__item--ball {
    order: -4;
  }

  .about__item--money {
    order: -3;
  }

  .about__item--rocket {
    order: -2;
  }
}

@media (min-width: @desktop-width) {
  .about {
    padding-left: 225px; // временно
  }
}
