.arrow {
  width: 130px;
  height: 52px;
  background-color: inherit;
  border: 1px solid #ececec;
  font-size: 0;
  background-repeat: no-repeat;
  background-position: center center;
  cursor: pointer;
}

.arrow--left {
  background-image: url("../img/icon-left-arrow.svg");
}

.arrow--right {
  background-image: url("../img/icon-right-arrow.svg");
}
