.button {
  width: 260px;
  height: 52px;
  display: block;
  border: 2px solid #444444;
  color: #444444;
  font-size: 17px;
  text-decoration: none;
  font-weight: bold;
  line-height: 52px;
  text-align: center;
}
