.categories {
  .list-style-reset();
  font-size: 19px;
  line-height: 24px;
  font-weight: bold;
  margin: 0;
  display: flex;
  flex-direction: column;
  position: relative;
}

.categories__item {
  &:hover {
    margin-top: -5px;
  }

  &:hover .categories__link {
    padding-bottom: 35px;
  }

  &:active .categories__link {
    opacity: 0.3;
  }
}

.categories__link {
  .wrapper();
  color: white;
  text-decoration: none;
  width: 100%;
  padding-top: 25px;
  padding-bottom: 30px;
  background-repeat: no-repeat;
  padding-right: 180px;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  position: relative;
}

.categories__item--interior {
  background-color: #63d1bb;
}

.categories__item--toys {
  background-color: #56c3b2;
}

.categories__icon {
  position: absolute;
  top: 22px;
}

.categories__icon--interior {
  left: 245px;
}

.categories__icon--toys {
  left: 230px;
}

@media (min-width: @tablet-width) {
  .categories {
    .wrapper();
    flex-direction: row;
    justify-content: center;
    margin-top: -119px;
    font-size: 20px;
    line-height: 30px;

    &::after {
      content: "";
      width: 100%;
      height: 25px;
      display: block;
      position: absolute;
      left: 0;
      bottom: -15px;
      background-image: url("../img/bg-zigzag-fill.svg");
      background-size: contain;
      background-repeat: repeat-x;
      z-index: 2;
    }
  }

  .categories__link {
    padding: 0;
    padding-right: 185px;
    padding-left: 35px;
    padding-top: 28px;
    padding-bottom: 32px;
  }

  .categories__item {
    width: 50%;

    &:hover .categories__link {
      padding-bottom: 37px;
    }
  }

  .categories__icon {
    top: 30px;
  }

  .categories__icon--interior {
    left: 260px;
  }

  .categories__icon--toys {
    left: 240px;
  }
}

@media (min-width: @desktop-width) {
  .categories {
    &::after {
      height: 35px;
    }
  }

  .categories__link {
    padding-right: 370px;
  }

  .categories__icon--interior {
    left: 450px;
  }

  .categories__icon--toys {
    left: 425px;
  }
}
