.contacts__title {
  .wrapper();
  font-size: 18px;
  line-height: 30px;
}

.contacts__table {
  .wrapper();
  color: @greyish-brown;
  margin-bottom: 40px;
  font-size: 15px;
  word-break: keep-all;
}

.contacts__button {
  margin: 40px auto;
}

.contacts__field {
  vertical-align: baseline;
}

.contacts__value {
  vertical-align: baseline;
  padding-right: 30px;
  padding-bottom: 40px;
}
