.copyright {
  &:hover {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }
  text-align: center;
}

.copyright__text {
  font-size: 19px;
  line-height: 18px;
  display: inline-block;
  margin-right: 25px;
}

.copyright__link {
  display: inline-block;
  vertical-align: middle;
}

.copyright__link img {
  display: block;
}

@media (min-width: @tablet-width) {
  .copyright__text {
    margin-left: 15px;
  }
}
