.featured {
  .buttom-zigzag-line();
}

.featured__tittle {
  font-size: 25px;
  line-height: 30px;
}

.featured__best {
  font-size: 17px;
  color: #63d1bb;
  line-height: 20px;
  text-transform: uppercase;
}

.featured__text {
  font-size: 15px;
  line-height: 24px;
  color: @greyish-brown;
}

.featured__characteristics {
  font-size: 15px;
  line-height: 20px;
  border-collapse: collapse;
  width: 100%;
  margin-bottom: 28px;
  color: @greyish-brown;
}

.featured__table-row {
  border-bottom: 1px solid #ececec;
}

.featured__price {
  font-size: 17px;
  line-height: 24px;
  color: @greyish-brown;
  font-weight: bold;
  text-align: center;
}

.featured__button {
  margin: 0 auto;
}

.featured__image {
  display: block;
  margin: 0 auto;
}
