.featured {
  .wrapper();
  .buttom-zigzag-line();
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 42px;
}

.featured__title {
  font-size: 25px;
  line-height: 30px;
  margin-top: 27px;
  margin-bottom: 0;
}

.featured__title--best::after,
.featured__title--best::before {
  font-size: 17px;
  color: #63d1bb;
  line-height: 20px;
  text-transform: uppercase;
  display: inline-block;
  vertical-align: middle;
}

.featured__title--best::after {
  content: "товар недели";
}

.featured__text {
  font-size: 15px;
  line-height: 24px;
  color: @greyish-brown;
  margin-top: 18px;
  margin-bottom: 18px;
}

.featured__characteristics {
  font-size: 15px;
  line-height: 20px;
  border-collapse: collapse;
  width: 100%;
  //margin-bottom: 28px;
  color: @greyish-brown;
}

.featured__table-row {
  border-bottom: 1px solid #ececec;
  height: 39px;
}

.featured__value {
  width: 98px;
}

.feature__field,
.featured__value {
  padding: 0;
}

.featured__price {
  font-size: 17px;
  line-height: 24px;
  color: @greyish-brown;
  font-weight: bold;
  text-align: center;
  margin-top: 25px;
  margin-bottom: 0;
}

.featured__image {
  display: block;
  margin-top: 30px;
}

.featured__button {
  margin-top: 24px;
}

@media (min-width: @tablet-width) {
  .featured {
    flex-direction: column;
    align-items: flex-start;
    position: relative;
    //height: 600px;
    //padding-top: 40px;
    padding-bottom: 70px;
  }

  .featured__title {
    width: 100%;
    font-size: 43px;
    line-height: 50px;
    order: -2;
    margin-top: 45px;
  }

  .featured__title--best::after,
  .featured__title--best::before {
    text-align: center;
    width: 80px;
    vertical-align: middle;
    line-height: 17px;
  }

  .featured__title--best::after {
    margin-left: 140px;
  }

  .featured__text,
  .featured__characteristics,
  .featured__button,
  .featured__price {
    width: 290px;
  }

  .featured__image {
    align-self: flex-end;
    order: -1;
    width: 333px;
    height: 404px;
    display: block;
    margin-top: 57px;
  }

  .featured__text {
    font-size: 17px;
    line-height: 30px;
    margin-top: -410px;
    margin-bottom: 0;
  }

  .featured__characteristics {
    margin-top: 35px;
    margin-bottom: 0;
  }

  .featured__button {
    margin-top: 33px;
  }

  .featured__price {
    font-size: 20px;
    margin-top: 58px;
  }
}

@media (min-width: @desktop-width) {
  .featured {
    //height: 750px;
    padding-top: 14px;
    padding-bottom: 60px;
  }

  .featured__title {
    font-size: 53px;
    line-height: 57px;
    order: 0;
    margin-top: -584px;
    flex-direction: row-reverse;
    justify-content: flex-end;
  }

  .featured__title--best::after {
    //margin: 0 45px;
    display: none;
  }

  .featured__title--best::before {
    content: "Товар недели";
    margin: 0 45px;
  }

  .featured__text,
  .featured__characteristics,
  .featured__button,
  .featured__price {
    margin-left: 175px;
  }

  .featured__text {
    margin-top: 50px;
  }

  .featured__characteristics {
    margin-top: 47px;
  }

  .featured__price {
    margin-top: 113px;
  }

  .featured__image {
    width: 525px;
    height: 636px;
  }

  .featured__button {
    width: 292px;
  }
}
