.logo__image {
  display: block;
}

@media (min-width: @tablet-width) {
  .logo {
    justify-content: start;

    &:hover .logo__image {
      filter: opacity(0.6);
    }

    &:active {
      filter: opacity(0.3);
    }

    &:hover .logo__image--footer {
      filter: opacity(1);
      fill: #46c1ae;
    }
  }
}
