.logo__image {
  display: block;
}

@media (min-width: @tablet-width) {
  .logo {
    //width: 315px;
    justify-content: start;
  }

  .logo:hover {
    filter: opacity(0.6);
  }

  .logo:active {
    filter: opacity(0.3);
  }
}
