.order-form {
  padding-bottom: 24px;
}

.order-form__header {
  .wrapper();
  font-size: 13px;
  line-height: 24px;
  color: @greyish-brown;
  margin-top: 22px;
  margin-bottom: -7px; //!!!
}

.order-form__fieldset {
  .wrapper();
  display: flex;
  flex-direction: column;
}

.order-form__title {
  font-size: 17px;
  color: #63d1bb;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  word-break: keep-all;
  margin-top: 28px;
  margin-bottom: 6px;

  &::after {
    width: 198px;
    height: 1px;
    background-color: #63d1bb;
    content: "";
    display: block;
    margin-left: auto;
  }
}

.order-form__label {
  font-size: 17px;
  font-weight: bold;
  line-height: 18px;
}

.order-form__label--radio,
.order-form__label--checkbox {
  &::before {
    content: "";
    width: 40px;
    box-sizing: border-box;
    display: inline-block;
    border: 2px solid black;
    vertical-align: top;
    margin-right: 22px;
  }

  &:hover::before {
    border-color: @green;
  }

  &:active::before {
    border-color: #c7c7c7;
  }
}

.order-form__label--radio {
  &::before {
    height: 40px;
    padding: 10px;
    border-radius: 50%;
    background-clip: content-box;
  }
}

.order-form__label--checkbox {
  &::before {
    height: 39px;
    background-repeat: no-repeat;
    background-position: center center;
  }
}

.interior:checked ~ label[for="interior"],
.child-toy:checked ~ label[for="child-toy"] {
  &::before {
    background-color: @green;
  }
}

.white:checked ~ label[for="white"],
.gray:checked ~ label[for="gray"],
.tiff:checked ~ label[for="tiff"],
.black:checked ~ label[for="black"],
.pink:checked ~ label[for="pink"],
.orange:checked ~ label[for="orange"] {
  &::before {
    background-image: url("../img/icon-tick.svg");
  }
}

.order-form__footer {
  .wrapper();
  font-size: 14px;
  color: @greyish-brown;
  display: flex;
  flex-direction: column;
}

.order-form__fieldset--text {
  display: flex;
  flex-direction: column;
}

.order-form__text {
  width: 170px;
  vertical-align: middle;
  display: inline-block;
  margin-top: 10px;
}

.order-form__list {
  .list-style-reset();
  margin: 0;
}

.order-form__item--radio {
  margin-top: 15px;
}

.order-form__item--checkbox {
  margin-top: 22px;
  width: 200px;
  margin-right: 0;
}

.order-form__item--checkbox .order-form__text {
  width: auto;
}

.order-form--checkbox {
  display: flex;
  flex-direction: column;
}

.order-form__item--text {
  display: flex;
  flex-direction: column;
  margin-top: 24px;
}

.order-form__text-input {
  width: 100%;
  font-size: 17px;
  height: 50px;
  border: 0;
  box-sizing: border-box;
  border-bottom: 2px solid black;
  background-color: transparent;
  font-family: "Open Sans", "Arial", sans-serif;

  &:hover,
  &:focus {
    border-color: @green;
  }

  &:hover ~ .order-form__icon,
  &:focus ~ .order-form__icon {
    fill: @green;
  }

  &::placeholder {
    color: #c7c7c7;
    font-size: 19px;
  }
}

.order-form__title--name-input {
  margin-bottom: 2px;
}

.order-form__item {
  position: relative;
}

.order-form__icon {
  position: absolute;
  fill: #d3d2d2;
}

.order-form__icon--phone {
  top: 12px;
  left: 228px;
}

.order-form__icon--mail {
  top: 8px;
  left: 225px;
}

.order-form__text-input--textarea {
  border: 2px solid black;
  resize: none;
  height: 140px;
  box-sizing: border-box;
  padding: 15px;
  font-size: 17px;
  line-height: 18px;
  margin-top: 18px;
}

.order-form__list--checkbox {
  margin-top: -8px;
}

.order-form__footer-text {
  margin-top: 10px;
}

.order-form__button {
  margin: 30px 0;
  margin-top: 16px;
}

@media (min-width: @tablet-width) {
  .order-form {
    padding-bottom: 20px;
  }

  .order-form__header {
    font-size: 17px;
    line-height: 30px;
    margin-top: 74px;
    margin-bottom: 6px;
  }

  .order-form__label {
    font-size: 19px;
    line-height: 18px;
  }

  .order-form__label--radio {
    &::before {
      width: 52px;
      height: 52px;
      margin-right: 30px;
      padding: 13px;
    }
  }

  .order-form__label--checkbox {
    display: inline-block;

    &::before {
      width: 54px;
      height: 52px;
      margin-right: 25px;
    }
  }

  .order-form__fieldset {
    flex-direction: row;
    align-items: flex-start;
    padding-top: 50px;
    padding-bottom: 50px;

    &:nth-child(3),
    &:nth-child(5),
    &:nth-child(6) {
      background-color: #f1f1f1;
    }
  }

  .order-form__title {
    width: 167px;
    margin-top: 12px;

    &::after {
      display: none;
    }
  }

  .order-form__button {
    order: -1;
    width: 230px;
    margin-top: 0;
  }

  .order-form__item--checkbox {
    width: 230px;
    margin-top: 0;

    &:nth-child(2n - 1) {
      margin-right: 32px;
    }
  }

  .order-form__list {
    width: 501px;
  }

  .order-form__list--checkbox {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 0;
  }

  .order-form__item {
    margin-bottom: 24px;
    display: block;

    &:last-child {
      margin-bottom: 0;
    }
  }

  .order-form__item--text {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 0;
    margin-bottom: 27px;
  }

  .order-form__item--radio {
    &:first-child {
      margin-top: 0;
    }
  }

  .order-form__label--radio .order-form__text {
    width: 260px;
    margin-top: 16px;
  }

  .order-form__label--checkbox .order-form__text {
    margin-top: 15px;
  }

  .order-form__fieldset--checkbox {
    padding-bottom: 25px;
  }

  .order-form__label--text {
    margin-right: 25px;
  }

  .order-form__text-input {
    font-size: 19px;
    line-height: 18px;
    padding-left: 20px;
  }

  .order-form__fieldset--tel {
    padding-bottom: 0;
  }

  .order-form__fieldset--email {
    padding-top: 28px;
  }

  .order-form__icon--phone {
    left: 450px;
  }

  .order-form__icon--mail {
    left: 448px;
  }

  .order-form__text-input--textarea {
    margin-top: 0;
    height: 143px;
  }

  .order-form__footer-text {
    font-size: 17px;
    line-height: 30px;
    margin-top: -17px;
  }

  .order-form__footer {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }
}

@media (min-width: @desktop-width) {
  .order-form__header {
    padding: 0 225px;
    margin-top: 122px;
  }

  .order-form__title {
    width: 175px;
    padding-left: 60px;
    box-sizing: border-box;
  }

  .order-form__list--checkbox {
    width: 875px;
  }

  .order-form__item--checkbox {
    margin-right: 32px;
  }

  .order-form__list--text {
    width: 700px;
  }

  .order-form__icon--phone {
    left: 670px;
  }

  .order-form__icon--mail {
    left: 665px;
  }

  .order-form__footer {
    padding: 0 225px;
    margin-top: -5px;
  }
}
