.order-form {
  .wrapper();
}

.order-form__header {
  font-size: 13px;
  line-height: 24px;
  color: @greyish-brown;
  margin-top: 22px;
}

.order-form__fieldset {
  display: flex;
  flex-direction: column;
  outline: 1px solid red;
}

.order-form__title {
  font-size: 17px;
  color: #63d1bb;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  word-break: keep-all;
  margin-top: 20px;
  margin-bottom: 6px;
}

.order-form__title::after {
  width: 198px;
  height: 1px;
  background-color: #63d1bb;
  content: "";
  display: block;
  margin-left: auto;
}

.order-form__label {
  font-size: 17px;
  font-weight: bold;
  //display: flex;
  //align-items: center;
  //justify-content: flex-start;
  outline: 1px solid green;
}

.order-form__label span {
  //display: inline-block;
  outline: 1px solid blue;
  //display: block;
  vertical-align: baseline;
}

.order-form__label--radio::before,
.order-form__label--checkbox::before {
  content: "";
  width: 40px;
  height: 40px;
  box-sizing: border-box;
  display: inline-block;
  border: 2px solid black;
  vertical-align: middle;
  margin-right: 22px;
  //display: block;
}

.order-form__label--radio::before {
  padding: 10px;
  border-radius: 50%;
  background-clip: content-box;
}

#interior:checked ~ label[for="interior"]::before,
#child-toy:checked ~ label[for="child-toy"]::before
{
  background-color: @green;
}

.order-form__label--checkbox::before {
  //background-image: url("../img/icon-tick.svg");
  background-repeat: no-repeat;
  background-position: center center;
}

#white:checked ~ label[for="white"]::before,
#gray:checked ~ label[for="gray"]::before,
#tiff:checked ~ label[for="tiff"]::before,
#black:checked ~ label[for="black"]::before,
#pink:checked ~ label[for="pink"]::before,
#orange:checked ~ label[for="orange"]::before {
  background-image: url("../img/icon-tick.svg");
}

.order-form__footer {
  font-size: 14px;
  color: @greyish-brown;
  display: flex;
  flex-direction: column;
}

.order-form__button {
  margin: 30px 0;
}

.order-form__fieldset--text {
  display: flex;
  flex-direction: column;
}

@media (min-width: @tablet-width) {
  .order-form__header {
    font-size: 17px;
  }

  .order-form__fieldset {
    flex-direction: row;
  }

  .order-form__title::after {
    display: none;
  }

  .order-form__fieldset--text {
    //flex-direction: column;
  }

  .order-form__fieldset:nth-child(3),
  .order-form__fieldset:nth-child(5),
  .order-form__fieldset:nth-child(6) {
    background-color: #f1f1f1;
  }

  .order-form__footer {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }

  .order-form__button {
    order: -1;
  }

  .order-form__title {
    width: 167px;
  }

  .order-form__label--checkbox {
    width: 220px;
    display: inline-block;
  }
}
