.play-button {
  display: block;
  width: 101px;
  height: 77px;
  background-image: url("../img/icon-play.svg");
  background-repeat: no-repeat;
  background-position: center center;
  background-color: transparent;
  border: none;
  cursor: pointer;

  &:hover {
    transform: scale(1.2);
  }

  &:active {
    transform: scale(0.8);
    filter: opacity(0.3);
  }
}
