.video-container {
  width: 260px;
  height: 500px;
  box-sizing: border-box;
  border: 1px solid #ededed;
  display: flex;
  flex-direction: column;
}

.video-container__title {
  font-size: 17px;
  padding: 15px 0;
  padding-left: 90px;
  background-image: url("../img/icon-video.svg");
  background-repeat: no-repeat;
  background-position: 35px;
}

.video-container__description {
  font-size: 13px;
  color: @greyish-brown;
  padding: 0 35px;
  margin-top: 30px;
}

.video-container__button {
  width: 192px;
  margin: 30px auto;
}

@media (min-width: @tablet-width) {
  .video-container {
    width: 670px;
    height: 745px;
  }

  .video-container__video {
    order: -1;
  }

  .video-container__button {
    width: 580px;
  }
}
